.navigation {
    /* margin: 0px;
    border: 0px;
    padding: 0px;
    content: 0px; */

    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    /* align-items: center; */
    justify-content: center;


}

.navigation svg {
    color: springgreen;
    float: left;

    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 8px;
}

.navigation svg:hover {
    color: crimson;

    
}

.navigation ul {
    display: inline;

    position: relative; 

    top: 5px;
    vertical-align: middle;

    
   
    

}

.navigation ul li {
    color: springgreen;

    display: inline-block;
    text-align: center;


    padding-left: 20px;
    padding-right: 20px;

}